<?xml version="1.0"?>
<!--
/**
 * @category   MageClass
 * @package    MageClass_ClickAndCollect
 * @author     milan.stojanov@outlook.com
 * @website    http://www.mageclass.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="MageClass_ClickAndCollect" setup_version="1.0.0">
    	<sequence>
	        <module name="Magento_Checkout"/>
	    </sequence>
    </module>
</config>