<?xml version="1.0"?>
<!--
/**
 * @category   MageClass
 * @package    MageClass_ClickAndCollect
 * @author     milan.stojanov@outlook.com
 * @website    http://www.mageclass.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="clickandcollect_config_provider" xsi:type="object">MageClass\ClickAndCollect\Model\Checkout\DataProvider</item>
            </argument>
        </arguments>
    </type>
</config>